.transaction-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4; 
    padding: 3px 4px; 
    border-radius: 8px;
    margin-top: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 1.1rem; 
    font-weight: bold; 
    text-align: left; 
  }
  
  
  .transaction-amount {
    font-size: 1.2rem; 
    font-weight: bold; 
    margin-left: 20px;
  }
    
  .text-green-500 {
    color: #16a34a; 
  }
  
  
  h2.text-lg {
    font-size: 1.1rem; 
    font-weight: bold; 
    color: #143D60; 
  }