<div class="w-full">
  <img src="assets/Capture d’écran 2025-03-03 112016.png" alt="Image" class="w-full h-72" />
</div>
<div class="flex min-h-screen  m-12 justify-center">
  <div class="mx-auto w-full max-w-[55rem]">
    <!-- Formulaire d'ajout -->
    <form (ngSubmit)="addOffre()">
      <div class="-mx-3 flex flex-wrap">
        <div class="w-full px-3 sm:w-1/2">
          <div class="mb-5">
            <label class="mb-3 block text-base font-medium text-[#07074D]">Taux %</label>
            <input
              type="number"
              [(ngModel)]="newOffre.taux"
              name="taux"
              class="w-full rounded-md border border-[#6A64F1] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#ff9848] focus:shadow-md"
              required
            />
          </div>
        </div>
        <div class="w-full px-3 sm:w-1/2">
          <div class="mb-5">
            <label class="mb-3 block text-base font-medium text-[#07074D]">Date Expiration</label>
            <input
              type="date"
              [(ngModel)]="newOffre.dateExpiration"
              name="dateExpiration"
              class="w-full rounded-md border border-[#6A64F1] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#ff9848] focus:shadow-md"
              required
            />
          </div>
        </div>
      </div>

      <div class="mb-5">
        <label class="mb-3 block text-base font-medium text-[#07074D]">Description</label>
        <input
          type="text"
          [(ngModel)]="newOffre.description"
          name="description"
          class="w-full appearance-none rounded-md border border-[#6A64F1] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#ff9848] focus:shadow-md"
          required
        />
      </div>

      <div>
        <button
          type="submit"
          class="rounded-md bg-[#6A64F1] hover:bg-[#a39fed] py-3 w-full text-center text-base text-black font-bold outline-none"
        >
          Ajouter l'offre
        </button>
      </div>
    </form>

     <!-- Liste des offres -->
     <div class="pt-20 w-full">
      <h2 class="text-2xl font-bold mb-6 text-center text-gray-800">Offres Disponibles</h2>
    
      <div class="flex flex-wrap justify-center gap-6">
        <div *ngFor="let offre of offres" class="bg-white w-96 rounded-xl shadow-lg p-6 border flex flex-col justify-between">
          <div class="flex flex-col gap-3">
            <!-- Taux -->
            <div class="flex items-center">
              <label class="text-sm font-semibold text-gray-700 w-1/3">Taux % :</label>
              <input
                type="number"
                [(ngModel)]="offre.taux"
                class="w-1/3 bg-transparent text-gray-800 outline-none"
              />
            </div>
    
            <!-- Description -->
            <div class="flex items-center">
              <label class="text-sm font-semibold text-gray-700 w-1/3">Description :</label>
              <input
                type="text"
                [(ngModel)]="offre.description"
                class="w-2/3 bg-transparent text-base text-gray-800 outline-none"
              />
            </div>

            <!-- Date de creation -->
            <div class="flex items-center">
              <label class="text-sm font-semibold text-gray-700 w-1/3">Création :</label>
              <input
                type="date"
                [(ngModel)]="offre.dateCreation"
                class="w-2/3 bg-transparent text-base text-gray-800 outline-none"
                readonly
              />
            </div>
    
            <!-- Date d'expiration -->
            <div class="flex items-center">
              <label class="text-sm font-semibold text-gray-700 w-1/3">Expiration :</label>
              <input
                type="date"
                [(ngModel)]="offre.dateExpiration"
                class="w-2/3 bg-transparent text-base text-gray-800 outline-none"
              />
            </div>
          </div>
    
          <!-- Boutons -->
          <div class="flex mt-4 w-full">
            <button class="w-1/2 bg-[#438eb1] font-bold text-white py-2 border-r-2 rounded-l-md hover:bg-[#7897a5] hover:text-black">
              Modifier
            </button>
            <button class="w-1/2 bg-[#fb923c] text-white py-2 hover:bg-[#c2a791] hover:text-black font-bold rounded-r-md">
              Supprimer
            </button>
          </div>
        </div>
      </div>
    </div>
    
</div>
</div>