<div class="ml-0 md:ml-60 pt-16 min-h-screen overflow-auto">
    <div class="w-full">
        <img src="assets/Stay-updated-with-the-latest-PKR-to-AED-exchange-rate-as-of-15-March-2025.-Track-currency-trends-and-market-movements-1140x570.jpg" 
             alt="Image" class="w-full h-52" />
    </div>
    <div class="container max-w-7xl mx-auto px-4 py-8">
      <div class="max-w-6xl mx-auto">
        <div class="bg-white rounded-3xl p-6 md:p-8 ">
            <h1 class="text-3xl md:text-4xl mb-10 text-gray-700 text-center leading-tight font-sans tracking-wide">
                <span class="text-orange-400">Transparence</span> au cœur de chaque  
                <span class="text-orange-400">transaction </span> !
            </h1>
            
       
            <div>
              <div class="overflow-x-auto w-full" style="max-height: 400px; overflow-y: auto;">
                <table class="w-full table-auto border-collapse">
                    <thead class="sticky top-0 bg-blue-100 z-10">
                        <tr class="text-gray-600 uppercase text-xs md:text-sm leading-normal">
                            <th class="py-3 px-4 text-left">Expéditeur</th>
                            <th class="py-3 px-4 text-left">N° Compte Expéditeur</th>
                            <th class="py-3 px-4 text-left">Destinataire</th>
                            <th class="py-3 px-4 text-left">N° Compte Destinataire</th>
                            <th class="py-3 px-4 text-left">Montant</th>
                            <th class="py-3 px-4 text-left">Date de transaction</th>
                        </tr>
                    </thead>
                    <tbody class="text-gray-900 font-light">
                        <tr *ngIf="transactions.length === 0" class="text-center pt-12">
                            <td colspan="7" class="py-3 px-4 text-lg font-semibold text-gray-500">
                              Aucune transaction effectuée.
                            </td>
                          </tr>
                        <tr *ngFor="let transaction of transactions" class="border-b border-gray-200 hover:bg-gray-50">
                            <td class="py-3 px-4 text-left font-semibold">
                                {{ transaction.senderName }} {{ transaction.senderPrenom }}
                            </td>
                            <td class="py-3 px-4 text-left">{{ transaction.senderAccountNumber }}</td>
                            <td class="py-3 px-4 text-left font-semibold">
                                {{ transaction.receiverName }} {{ transaction.receiverPrenom }}
                            </td>
                            <td class="py-3 px-4 text-left">{{ transaction.receiverAccountNumber }}</td>
                            <td class="py-3 px-4 text-left font-bold">
                                {{ transaction.montant }} DH
                            </td>
                            <td class="py-3 px-4 text-left">
                                {{ transaction.dateTransaction | date:'yyyy-MM-dd HH:mm' }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </div>
