<nav class="bg-[#143D60] h-12 flex items-center px-4 sm:px-20 justify-between">
    <div class="text-white font-bold">
        <img src="assets/logo - Copie.png" alt="Logo" class="w-10" />
    </div>
    <div class="text-white text-xl font-bold font-quetine">ClientKeeper</div>
    <div class="text-white text-2xl cursor-pointer">☰</div>
</nav>

<div class="text-center pt-10 min-h-screen bg-gray-200">
    <h1 class="text-orange-500 text-2xl font-bold">
        Bonjour 
        <ng-container *ngIf="userData?.sexe === 'FEMME'">Mme</ng-container>
        <ng-container *ngIf="userData?.sexe === 'HOMME'">Mr</ng-container> 
        {{ userData?.prenom }} {{ userData?.nom }} !
      </h1>
    <hr class="border-orange-500 w-3/4 mx-auto my-4">
    <p class="text-[#143D60] text-lg font-semibold">Votre numéro de compte :</p>
    <p class="text-orange-500 text-lg font-semibold">{{ userData?.numeroCompte }}</p>
    
    <div class="mt-4 flex items-center justify-center gap-2">
        <span *ngIf="showBalance; else hiddenBalance" class="text-[#143D60] text-2xl font-bold">
            {{ userData?.solde }} DH
        </span>
        <ng-template #hiddenBalance>
            <span class="text-[#143D60] text-2xl font-bold">
                ****
            </span>
        </ng-template>
        
        <button (click)="toggleBalance()">
            <img *ngIf="showBalance; else eyeClosed" src="assets/9024739_hand_eye_light_icon.svg" alt="Œil ouvert" class="w-7" />
    
            <ng-template #eyeClosed>
                <img src="assets/9165624_hide_eye_icon.svg" alt="Œil fermé" class="w-6" />
            </ng-template>
        </button>
    </div>
    
    
    
    
    <div class="mt-6 flex justify-center gap-10">
        <button class="bg-orange-500 text-white py-2 px-12 sm:px-56 text-lg font-bold rounded-3xl flex items-center relative hover:scale-105 transition-transform duration-200">
            
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white absolute left-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z" />
            </svg>
    
            <span class="pl-8 ">Add / Transfert</span>
    
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white absolute right-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v14M5 12h14" />
            </svg>
        </button>
    </div>
    
    

    <!-- Mini page -->
    <div class="bg-white sm:m-x-24 mx-24 rounded-xl shadow-md pb-10 mt-20">
        <nav class="bg-[#143D60] h-10 flex items-center px-4 sm:px-8 rounded-t-xl shadow-lg shadow-gray-400">
            <div class="text-white font-bold">
                <img src="assets/logo - Copie.png" alt="Logo" class="w-8" />
            </div>
        </nav>
        <div class="ml-4 sm:ml-12 mt-12">
            <h2 class="text-2xl text-[#143D60] font-bold text-left font-quetine">Transfers</h2>
            <div class="flex gap-4 mt-4">
                <a href="/transactions/">
                    <button class="font-quetine border border-[#143D60] px-4 py-1 rounded-3xl hover:scale-105 transition-transform duration-200">Transfers</button>
                </a>
                <a href="/transactions/history">
                    <button class="font-quetine border border-[#143D60] px-4 py-1 rounded-3xl hover:scale-105 transition-transform duration-200">History</button>
                </a>
                <a href="">
                    <button class="font-quetine border border-[#143D60] px-4 py-1 rounded-3xl hover:scale-105 transition-transform duration-200">Profil</button>
                </a>
            </div>
        </div>


        <div class="content-container">
            <ng-content></ng-content>  
        </div>
       
    </div>
</div>
